# No whitespace after the comma or in your part name!
config SHIELD_OLUKA56_LEFT
    def_bool $(shields_list_contains,oluka56_left)

# No whitespace after the comma or in your part name!
config SHIELD_OLUKA56_RIGHT
    def_bool $(shields_list_contains,oluka56_right)
